---
layout: default
---

<div class="home">

    <!-- <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1> -->

    {% include announcements.html %}
    <br />

    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>
    
    {{ content }}

    {% if site.data.presentations and site.data.presentations.presentations and site.data.presentations.presentations.size > 0 %}
    <h2>Presentations</h2>
    <ul class="homepage-bullets">
        {% for presentation in site.data.presentations.presentations %}
            <li><a href="{{ presentation.url }}", target="_blank">{{presentation.venue}}, {{presentation.year}}</a></li>
            <ul class="inner-bullets">
                <li>{% if presentation.instructors.size == 1 %}Instructor: {% else %}Instructors: {% endif %}{{presentation.instructors | join: ", "}}</li>
                <br />
                <li><a href="{{ presentation.proposal_url }}", target="_blank">Tutorial proposal</a></li>
            </ul>
        {% endfor %}
    </ul>
    {% endif %}

    {% if site.data.course_materials and site.data.course_materials.materials and site.data.course_materials.materials.size > 0 %}
        <h2>Course Materials (ICWSM 2024 version)</h2>
        <ul class="homepage-bullets">
            {% for material in site.data.course_materials.materials %}
                <li><a href="{{ material.url }}">{{material.title}}</a></li>
                <br />
            {% endfor %}
        </ul>
    {% endif %}

    {% if site.data.papers and site.data.papers.papers and site.data.papers.papers.size > 0 %}
        <h2>Paper</h2>
        <ul class="homepage-bullets">
            {% for paper in site.data.papers.papers %}
                <li>{{paper.authors}} ({{paper.year}}). {{paper.title}}. <a href="{{ paper.url }}", target="_blank">{{paper.venue}}</a></li>
                <br />
            {% endfor %}
        </ul>
    {% endif %}

    <br>

    <div class="profile-pic-gallary ">
        <h2>Instructors</h2>
        {% for instructor in site.data.instructors.instructors %}
            <div class="image--cover-container">
                <img src="{{instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                {% if instructor.webpage %}
                    <a href="{{ instructor.webpage }}", target="_blank">{{instructor.name}}</a>            
                {% else %}
                    {{instructor.name}}
                {% endif %}
                ({{instructor.year}})
            </div>
        {% endfor %}
    </div>

    <!-- <div>
        <div style="width:35%; float: left">
            <h2>Instructors</h2>
            <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div>

        </div>

        <div style="width:65%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Teaching Assistants</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div> -->

</div>